{% extends "base.html" %}

{% block title %}About - iCAT Analytics{% endblock title %}

{% block content %}
<h1>About iCAT Analytics</h1>

<p>Software created by <a href="mailto:jan@poeschko.com">Jan P&ouml;schko</a> and <a href="mailto:s.walk@student.tugraz.at">Simon Walk</a> (<a href="http://www.tugraz.at">TU Graz</a>).
<br />Supervisor and contact: <a href="mailto:markus.strohmaier@tugraz.at">Markus Strohmaier</a> (TU Graz).
<br />In collaboration with and hosted by <a href="http://www.stanford.edu">Stanford University</a>.</p>
<p>Dataset: {{ instance }}.</p>
{% endblock %}