{% extends "base.html" %}

{% load icd %}

{% block title %}Properties - iCAT Analytics{% endblock title %}

{% block content %}
<h1>Properties</h1>

<h2>Number of changes by property</h2>
{% valuestable properties "count" "Property" 200 %}

<h2>Number of categories by display status</h2>
{% valuestable display_status "count" "Display status" 200 %}

<h2>Number of categories by amount of titles</h2>
{% valuestable titles "count" "Different Titles per category" 200 %}

<h2>Number of categories by amount of title languages</h2>
{% valuestable title_languages "count" "Different title languages per category" 200 %}

<h2>Number of categories by amount of definitions</h2>
{% valuestable definitions "count" "Different Definitions per category" 200 %}

<h2>Number of categories by amount of definition languages</h2>
{% valuestable definition_languages "count" "Different definition languages per category" 200 %}

{% endblock %}
